.stages_section {
  width: 100%;
  width: 65%;
  // height: 700px;
  
  margin: 0 auto;
  // padding: 0 5px 40px 5px;
  h2 {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .stages_section__block {
    width: 100%;
    display: flex;
		flex-direction: column;
    // align-items: center;
  }
}


@media screen and (max-width:960px) {
  .stages_section{
    margin-bottom: 140px;
  }
	.stages_section__block{
		gap: 200px;
	}
}

@media screen and (max-width:510px) {
	.stages_section__block{
		gap: 120px;
	}
}

@media(max-width:425px){
  .stages_section{
    padding-top: 1000px;
  }
}
@media screen and (max-width:410px) {
	.stages_section__block{
		gap: 40px;
	}
}